.footer {
  padding: 24px 0;
  border-top: 1px solid #eeeeee;
  background-color: #ffffff;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.copyright {
  color: #717171;
  font-size: 14px;
}
